<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<% unless @movie.crews.empty? %>
  <p><strong>Crew</strong><br/>
  <% @movie.crews.each do |crew| %>
    <%= crew.person.name %> (<%= crew.role %>)<br/>
  <% end %>
<% end %>

<p>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
</p>